<div layout="row" layout-align="start center" class="md-list-item-text">
    <div class="md-list-item-inner">
        <span class="" layout="column" layout-align="none" layout-padding>{{student.year}}</span>
        <b class="" layout="column" layout-align="none" layout-padding>{{student.lname}}, {{student.fname}}</b>
        <span class="" layout="column" layout-align="none" layout-padding>{{student.startDate}}</span>
        <span class="" layout="column" layout-align="none" layout-padding>{{student.street}}</span>
        <span class="" layout="column" layout-align="none" layout-padding>{{student.city}}</span>
        <span class="" layout="column" layout-align="none" layout-padding>{{student.state}}</span>
        <span class="" layout="column" layout-align="none" layout-padding>{{student.zip}}</span>
        <span class="" layout="column" layout-align="none" layout-padding>{{student.phone}}</span>
    </div>
    <div class="md-secondary-container">
        <md-icon class="md-secondary" ng-click="" aria-label="Edit Student" md-font-set="material-icons md-secondary">edit</md-icon>
        <md-icon class="md-secondary" ng-click="" aria-label="Delete Student" md-font-set="material-icons md-secondary">delete_forever</md-icon>
    </div>
</div>