<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Josh Anderson | Student Data Demo</title>
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" type="text/css" />
    <link rel="stylesheet" href="lib/css/angular-material-1.1.3.min.css">
    <link rel="stylesheet" href="student-app.css" type="text/css">
</head>

<body ng-controller="studentController">

<md-content class="container">
    <md-card md-colors="{background: 'blue-grey-800'}">
        <div layout="column" layout-align="center center">
            <h1 class="md-display-2">Student Data</h1>
            <i class="material-icons logo" ng-click="getStudent('0005')">school</i>
            <br/>
        </div>
        <!-- FAB speed Dial toolbar to add/restore student data or toggle the view -->
        <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button aria-label="Menu" class="md-fab big-red">
                    <md-tooltip md-direction="left">Tools</md-tooltip>
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Tile View" class="md-fab md-raised md-mini" ng-click="tileViewButton()">
                    <md-tooltip md-direction="left">Tile View</md-tooltip>
                    <md-icon class="material-icons">view_module</md-icon>
                </md-button>
                <md-button aria-label="Table View" class="md-fab md-raised md-mini" ng-click="tableViewButton()">
                    <md-tooltip md-direction="left">Table View</md-tooltip>
                    <md-icon class="material-icons">view_list</md-icon>
                </md-button>
                <md-button aria-label="Add Student" class="md-fab md-raised md-mini"
                           ng-click="setDialogType('Add'); popFormDialog()">
                    <md-tooltip md-direction="left">Add Student</md-tooltip>
                    <md-icon class="material-icons">person_add</md-icon>
                </md-button>
                <md-button aria-label="Restore Student" class="md-fab md-raised md-mini"
                           ng-click="setDialogType('Restore'); popRestoreDialog()">
                    <md-tooltip md-direction="left">Restore Student</md-tooltip>
                    <md-icon class="material-icons">unarchive</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <!-- table view -->
        <md-card layout="column" layout-align="center center" style="overflow: auto;">
            <md-list class="switch-show-hide" md-cols="1" md-row-height="200px" ng-show="tableView">
                <md-list-item>
                    <div id="table-style" layout="row" layout-align="start center">
                        <div id="year-cell" layout="row" layout-align="none" layout-padding>
                            <b class="table-header" ng-click="sortBy('year')">Year</b>
                            <span class="material-icons sort" ng-show="sortType === 'year'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <div id="name-cell" layout="row" layout-align="none" layout-padding>
                            <b class="table-header" ng-click="sortBy(['lname', 'fname'])">Name</b>
                            <span class="material-icons sort" ng-show="sortType.length === 2" ng-class="{reverse: reverse}"></span>
                        </div>
                        <div id="date-cell" layout="row" layout-align="none" hide show-gt-sm layout-padding>
                            <b class="table-header" ng-click="sortBy('startDate')">Start Date</b>
                            <span class="material-icons sort" ng-show="sortType === 'startDate'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <div id="street-cell" layout="row" layout-align="none" hide show-gt-md layout-padding>
                            <b class="table-header" ng-click="sortBy('street')">Street</b>
                            <span class="material-icons sort" ng-show="sortType === 'street'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <div id="city-cell" layout="row" layout-align="none" hide show-gt-xs layout-padding>
                            <b class="table-header" ng-click="sortBy('city')">City</b>
                            <span class="material-icons sort" ng-show="sortType === 'city'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <div id="state-cell" layout="row" layout-align="none" hide show-gt-sm layout-padding>
                            <b class="table-header" ng-click="sortBy('state')">State</b>
                            <span class="material-icons sort" ng-show="sortType === 'state'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <div id="zip-cell" layout="row" layout-align="none" hide show-gt-sm layout-padding>
                            <b class="table-header" ng-click="sortBy('zip')">Zip</b>
                            <span class="material-icons sort" ng-show="sortType === 'zip'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <div id="phone-cell" layout="row" layout-align="none" hide show-gt-sm layout-padding>
                            <b class="table-header" ng-click="sortBy('phone')">Phone</b>
                            <span class="material-icons sort" ng-show="sortType === 'phone'" ng-class="{reverse: reverse}"></span>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item ng-repeat="student in students" class="student-row">
                    <student-table student="student"></student-table>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-card>
        <!-- tiles view -->
        <div class="switch-show-hide layout-content" ng-show="tileView">
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-gutter="10px" md-row-height="340px">
                <md-grid-tile class="md-1-line" id="tile-style" ng-repeat="student in students" role="listitem">
                    <student-tile student="student"></student-tile>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </md-card>
</md-content>
<!-- Add/Edit mdDialog for adding or editing student data-->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="formDialog">
        <md-dialog aria-label="Form">
            <form ng-cloak name="studentForm">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h4>{{dialogType}}  Student</h4>
                        <span flex></span>
                        <md-button class="md-icon-button md-ink-ripple" ng-click="close()">
                            <md-icon class="material-icons" aria-label="Close Dialog">clear</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label>First Name</label>
                            <input ng-model="selectedStudent.fname">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Last Name</label>
                            <input ng-model="selectedStudent.lname">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Year</label>
                            <md-select ng-model="selectedStudent.year">
                                <md-option ng-repeat="year in years" value="{{year}}">
                                    {{year | getSchoolYear}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Start Date</label>
                            <md-datepicker ng-model="selectedStudent.startDate"></md-datepicker>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Street Address</label>
                            <input ng-model="selectedStudent.street">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>City</label>
                            <input ng-model="selectedStudent.city">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>State</label>
                            <md-select ng-model="selectedStudent.state">
                                <md-option ng-repeat="state in states" value="{{state}}">
                                    {{state}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Zip Code</label>
                            <input ng-model="selectedStudent.zip">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Phone Number</label>
                            <input type="tel" ng-model="selectedStudent.phone">
                        </md-input-container>
                        <md-button class="md-raised md-primary" ng-click="submit()">Submit</md-button>
                    </div>
                </md-dialog-content>
            </form>
        </md-dialog>
    </div>
</div>
<!-- Delete mdDialog for deleting student data-->
<div style="visibility: hidden">
    <div class="md-dialog-container md-warn" id="deleteDialog" ng-cloak>
        <md-dialog aria-label="Delete">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools big-red">
                        <h4>Delete  Student</h4>
                        <span flex></span>
                        <md-button class="md-icon-button md-ink-ripple" ng-click="close()">
                            <md-icon class="material-icons" aria-label="Close Dialog">clear</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content" layout="column" layout-align="center center">
                        <p>Are you sure you want to delete?</p>
                        <b>{{selectedStudent.fname}} {{selectedStudent.lname}}</b>
                        <br/>
                        <div layout="row" layout-align="center">
                            <md-button class="md-raised" ng-click="close()">Cancel</md-button>
                            <md-button class="md-raised big-red" ng-click="submit()">Delete</md-button>
                        </div>
                    </div>
                </md-dialog-content>
            </form>
        </md-dialog>
    </div>
</div>
<!-- Info mdDialog for displaying data of the selected student -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="infoDialog" ng-cloak>
        <md-dialog aria-label="Info">
            <md-toolbar md-colors="{background: 'blue-grey-800'}">
                <div class="md-toolbar-tools">
                    <h4>{{selectedStudent.fname}} {{selectedStudent.lname}}</h4>
                    <span flex></span>
                    <md-button class="md-icon-button md-ink-ripple" ng-click="close()">
                        <md-icon class="material-icons" aria-label="Close Dialog">clear</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content" layout="column" layout-align="start start">
                    <md-list-item>
                        <md-icon class="material-icons md-avatar-icon">school</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <p>{{selectedStudent.year | getSchoolYear}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <md-icon class="material-icons md-avatar-icon">phone</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <p>{{selectedStudent.phone}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <md-icon class="material-icons md-avatar-icon">place</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{selectedStudent.street}}</h3>
                            <p>{{selectedStudent.city}},  {{selectedStudent.state}},  {{selectedStudent.zip}}</p>
                        </div>
                    </md-list-item>
                </div>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>
<!-- Restore mdDialog for restoring student data -->
<div style="visibility: hidden">
    <div class="md-dialog-container md-warn" id="restoreDialog" ng-cloak>
        <md-dialog aria-label="Restore">
            <form ng-cloak>
                <md-toolbar md-colors="{background: 'blue-grey-800'}">
                    <div class="md-toolbar-tools">
                        <h4>Restore  Student?</h4>
                        <span flex></span>
                        <md-button class="md-icon-button md-ink-ripple" ng-click="close()">
                            <md-icon class="material-icons" aria-label="Close Dialog">clear</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content" layout="column" layout-align="start start">
                        <p>Which student would you like to restore?</p>
                        <md-select aria-label="Restore" ng-model="student">
                            <md-option ng-repeat="student in deletedStudents" ng-click="getStudent(student.id)"
                                       value="{{student.fname}} {{student.lname}}">
                                {{student.fname}} {{student.lname}}
                            </md-option>
                        </md-select>
                        <br/>
                        <div layout="row" layout-align="center">
                            <md-button class="md-raised" ng-click="close()">Cancel</md-button>
                            <md-button class="md-raised big-red" ng-click="submit()">Restore</md-button>
                        </div>
                    </div>
                </md-dialog-content>
            </form>
        </md-dialog>
    </div>
</div>
<!-- Load mdDialog to be displayed when loading the sorted table -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="loadingDialog" ng-cloak>
        <md-dialog aria-label="Load">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h4>Loading...</h4>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content" layout="column" layout-align="center center">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>

<script src="lib/js/jquery-2.2.4.min.js"></script>
<script src="lib/js/angular-1.6.2.min.js"></script>
<script src="lib/js/angular-animate.min.js"></script>
<script src="lib/js/angular-aria.min.js"></script>
<script src="lib/js/angular-material-1.1.3.min.js"></script>
<script src="lib/js/js.cookie-2.1.2.js"></script>
<script src="app.js"></script>

</body>

</html>