<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Josh Anderson | Fun with Tables</title>
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" type="text/css" />
    <link rel="stylesheet" href="lib/css/angular-material-1.1.3.min.css">
    <link rel="stylesheet" href="studentData.css" type="text/css">
</head>

<body ng-controller="studentController">

<md-content class="container">
    <md-card>
        <div layout="column" layout-align="center center">
            <h1 class="md-display-3">Fun with Tables!</h1>
            <i class="material-icons logo">school</i>
            <h2 class="md-display-1">Student Data</h2>
        </div>
        <!-- FAB speed Dial toolbar to add/restore student data or toggle the view -->
        <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button aria-label="Menu" class="md-fab md-primary">
                    <md-tooltip md-direction="left">Tools</md-tooltip>
                    <md-icon md-font-set="material-icons">menu</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Tile View" class="md-fab md-raised md-mini" ng-click="tileViewButton()">
                    <md-tooltip md-direction="left">Tile View</md-tooltip>
                    <md-icon md-font-set="material-icons">view_module</md-icon>
                </md-button>
                <md-button aria-label="Table View" class="md-fab md-raised md-mini" ng-click="tableViewButton()">
                    <md-tooltip md-direction="left">Table View</md-tooltip>
                    <md-icon md-font-set="material-icons">list</md-icon>
                </md-button>
                <md-button aria-label="Add Student" class="md-fab md-raised md-mini" ng-click="">
                    <md-tooltip md-direction="left">Add Student</md-tooltip>
                    <md-icon md-font-set="material-icons">person_add</md-icon>
                </md-button>
                <md-button aria-label="Restore Student" class="md-fab md-raised md-mini" ng-click="">
                    <md-tooltip md-direction="left">Restore Student</md-tooltip>
                    <md-icon md-font-set="material-icons">undo</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <!-- TABLE VIEW -->
        <md-list class="switch-show-hide" md-cols="1" md-row-height="200px" ng-show="tableView">
            <md-list-item id="table-style">
                <div layout="row" layout-align="start center">
                    <b class="" layout="column" layout-align="none" layout-padding>Year</b>
                    <b class="" layout="column" layout-align="none" layout-padding>Name</b>
                    <b class="" layout="column" layout-align="none" layout-padding>Start Date</b>
                    <b class="" layout="column" layout-align="none" layout-padding>Street</b>
                    <b class="" layout="column" layout-align="none" layout-padding>City</b>
                    <b class="" layout="column" layout-align="none" layout-padding>State</b>
                    <b class="" layout="column" layout-align="none" layout-padding>Zip</b>
                    <b class="" layout="column" layout-align="none" layout-padding>Phone</b>
                    <b class="" layout="column" layout-align="none" layout-padding>Edit</b>
                    <b class="" layout="column" layout-align="none" layout-padding>Delete</b>
                </div>
            </md-list-item>
            <md-list-item ng-repeat="student in students">
                <student-table student="student"></student-table>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
        <!-- TILES VIEW -->
        <div class="switch-show-hide" ng-show="tileView">
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-gutter="10px" md-row-height="200px">
                <md-grid-tile class="md-1-line" id="tile-style" ng-repeat="student in students" role="listitem">
                    <student-tile student="student"></student-tile>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </md-card>
</md-content>

<script src="lib/js/jquery-2.2.4.min.js"></script>
<script src="lib/js/angular-1.6.2.min.js"></script>
<script src="lib/js/angular-animate.min.js"></script>
<script src="lib/js/angular-aria.min.js"></script>
<script src="lib/js/angular-material-1.1.3.min.js"></script>
<script src="lib/js/js.cookie-2.1.2.js"></script>
<script src="app.js"></script>
<!--<script src="sortComparators.js"></script>-->

</body>

</html>