/*custom css for student data*/

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.logo {
    font-size: 150px;
    color: #1abc9c;
}

.switch-show-hide.ng-hide {
    opacity: 0;
}

.switch-show-hide.ng-hide-add,
.switch-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}

.md-fab:hover, .md-fab.md-focused {
    background-color: #000 !important;
}

md-fab-speed-dial.md-fab-bottom-right {
    position: fixed !important;
}

#tile-style {
    background: #b0bec5;
}